<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <meta http-equiv="refresh" content="0; URL=/" />
</head>
<body>
    <h1>404</h1>
    <p>Oops! Siden du leter etter finnes ikke.</p>
    <p><a href="/">Gå tilbake til forsiden</a></p>
</body>
</html>
